.card {
  position: relative;
  background: var(--clr-light);
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 6px 16px 16px rgba(0, 0, 0, 0.25);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  h3 {
    margin: 0;
  }

  small {
    opacity: 0.8;
  }

  header {
    padding-top: 16px;
  }

  section {
    p {
      margin-top: 0;
    }
  }

  header,
  section {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
  }

  // header {
  //   padding: 16px 32px 8px 32px;
  // }

  // section {
  //   padding: 0 32px 8px;
  // }

  footer {
    padding: 16px 32px;
    background-color: var(--clr-primary);
    color: var(--clr-light);
  }

}

@media (min-width: 850px) {
  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 48%;
  }
}
