.footer {
  margin-top: auto;
  background-color: var(--clr-primary);
  color: var(--clr-background);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 128px;
}

.footer-link {
  color: var(--clr-background);
  text-decoration: none;
  white-space: nowrap;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
.active-footer-link {
  text-decoration: underline;
}

.footer-icon-container {
  display: flex;
}

.footer-icon {
  display: block;
  margin-left: 24px;

  svg {
    width: 32px;
    height: 32px;
    fill: var(--clr-background);
  }

  &:focus,
  &:hover {
    svg {
      fill: var(--clr-secondary);
    }
  }
}

@media (max-width: 820px) {
  .footer-content {
    flex-direction: column;
    justify-content: space-around;
  }
}
