.footer {
  margin-top: auto;
  background-color: var(--clr-primary);
  color: var(--clr-background);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 128px;
}

.footer-link {
  color: var(--clr-background);
  text-decoration: none;
  white-space: nowrap;

  &:focus,
  &:hover {
    color: var(--clr-secondary);
  }
}
.active-footer-link {
  text-decoration: underline;
}

@media (max-width: 820px) {
  .footer-content {
    flex-direction: column;
    justify-content: space-around;
  }
}
