.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 64 - 16px;

  svg {
    height: inherit;
    fill: var(--clr-background);
  }

  &:hover {
    path {
      fill: var(--clr-secondary);
    }
  }
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  display: flex;
  font-family: var(--ff-heading);
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.nav-link {
  height: inherit;
  padding: 0 16px;
  line-height: 64px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  color: var(--clr-background);

  &:focus,
  &:hover {
    background-color: var(--clr-secondary);
  }
}
.active-nav-link {
  background-color: var(--clr-secondary);
}


@media (max-width: 960px) {
  .nav {
    flex-direction: column;
  }
  .nav-list {
    flex-wrap: wrap
  }
}
